.box {
    font-family: 'MicrosoftYaHei';
    background-color: #ffffff;
    height: 104px;
    line-height: 104px;
    font-size: 24px;
    font-weight: bold;
    /* text-align: left; */
    /* width:100%; */
    flex: 1,
}

.title{
    /* margin-right: 160px; */
    /* margin-right: 16px; */
    margin-right: 3%;
}

.name{
    color: #1F2A42;
    font-size: 20px;
    font-family: 'MicrosoftYaHei';
    margin-right: 40px;
    font-weight: normal;
}

.avatar{
    margin-left: 20px;
    margin-right: 20px;
}

.mr15{
    margin-right: 15px;
}

.mt40{
    margin-top:40px;
}

